.hend{
    background-color: rgb(230, 139, 34);
    color: white;
    display: flex;
    justify-content: center;
}
.title{
    padding-left: 9%;
    font-weight: bold;
    font-size: 40px;
    flex: auto;
}
.cart_login_member{
    flex: auto;
    text-align: right;
    padding-top: 8px;
    padding-right: 10%;
}
.clm{
    display: inline-block;
    width: 400px;
}
.clm_btn{
    height: 50px;
    width: 50px;
}
.content{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.product{
    display: inline-block;
    padding: 5px;
    height: 200px;
    width: 180px;
    text-align: center;
    border: 2px solid transparent;
    transition: border-color 0.1s;
}
.product:hover{
    border-color: rgba(155, 72, 8, 0.542);
}
.product_img{
    height: 150px;
    width: 130px;
}
