<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員設定</title>
    <link rel="stylesheet" href="/CSS/member.css">
</head>
<body>
    <img src="/picture/背景圖.jpg" alt="背景">
    <div class="leftcolor">
        <div class="leftposition">
            <div class="content">
                <h3 style="font-size: 30px;">設定</h3>
                <a href="/"><button>首頁</button></a><br>
                <a href="/updatepw"><button>變更密碼</button></a><br>
                <a href="/signout"><button>登出</button></a>
            </div>
        </div>
    </div>
</body>
</html>