<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員註冊</title>
    <link rel="stylesheet" href="/CSS/register.css">
</head>
<body>
    <img src="/picture/背景圖.jpg" alt="背景">
    <div class="leftcolor">
        <div class="leftposition">
            <a href="/"><button class="shophomebtn">首頁</button></a>
            <h3 style="font-size: 25px;">註 冊</h3>
            <div class="input">
                <form action="/signup" method="POST">
                    暱 稱 <span style="color: red;">(必填)</span><input type="text" name="username"/>
                    信 箱 <span style="color: red;">(必填)</span> <input type="email" name="email"/>
                    密 碼 <span style="color: red;">(必填)</span> <input type="password" name="password"/>
                    <button>註冊</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>