<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>變更密碼</title>
    <link rel="stylesheet" href="/CSS/updatepw.css">
</head>
<body>
    <img src="/picture/背景圖.jpg" alt="背景">
    <div class="leftcolor">
        <div class="leftposition">
            <div class="input">
                <h3 style="font-size: 25px;">變更密碼</h3>
                <form action="/changepw", method="POST">
                    信箱 <input tpye="email" name="email">
                    舊密碼 <input type="password" name="oldpassword">
                    新密碼 <input type="password" name="newpassword">
                    <button>變更密碼</button>
                </form>
            </div>
            <a href="/member"><button>返回</button></a>
        </div>
    </div>
</body>
</html>